input[type=text] {
    width: 15%;
    padding: 10px 20px;
    margin: 5px 0;
   border: 1px solid black; 
  }
  input[type=password] {
    width: 15%;
    padding: 10px 20px;
    margin: 5px 0;
   border: 1px solid black; 
  }
  
  input[type=submit] {
    width: 10%;
    margin-left:100px;
    padding: 12px 20px;
  border: 1px solid #555;
   background-color: green;
   color:white;
      
  }
  .form{ 
  margin-left: 500px; 
  width: 100%;
  
   }
  
   .invalid { 
  color:red; 
  font-family: arial; 
  margin-left: 500px; 
  
  }
  
  
    